/* Define the card */
*{
  font-family: "Muli", sans-serif; 
}
.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  .card-img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .book-now-button,
  .add-to-cart {
    size: 50px;
  }
  
  .currency-symbol {
    font-weight: bold;
    margin-right: 5px;
    font-size: 16px;
  }
  .card.not-returned {
    background-color: lightgrey; /* You can customize the background color as needed */
    /* Add any other styles you want for the not-returned state */
  }
  .card.blocked {
    opacity: 0.5; /* Adjust the opacity or add other styles to indicate the blocked state */
    pointer-events: none; /* Disable pointer events for blocked cards */
  }
  
  /* Media Query for responsiveness */
  @media (max-width: 768px) {
    .card-img {
      height: 150px;
    }
  }
  