.payment-page {
    display: flex;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .image-section {
    flex: 1;
    margin-right: 50px;
  }
  
  .details-section {
    flex: 1;
  }
  
  img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-right: 20px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .paynow-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .details-container {
    display: flex;
  }
  .details-section {
    max-width: 300px; /* Adjust the width as needed */
  }
  
  .form-container {
    width: 300px; /* Adjust the width as needed */
  }
  