.layout-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.addbike-form{
  position: absolute;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.addbike-form h1 {
  color: black;
  text-align: left; 
  margin-left: 20px; 
  font-weight: bold; 
}

@media screen and (max-width:767px) {
  .addbike-form{
    top: 15px;
    padding-top: 80px;
    
    overflow:auto;
  }
}